<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gm_pc.smsforwarder">


    <!--android:debuggable="true"-->

    <application
        android:allowBackup="true"
android:icon="@drawable/smsforwarderlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        >


        <activity
        android:name=".WelcomeSplashActivity"
        android:theme="@style/SplashTheme"
        android:screenOrientation="portrait"
        >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />

        </intent-filter>

    </activity>


        <activity android:name=".InsertDb"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>


        <activity android:name=".ViewDb"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>


        <activity android:name=".Settings"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>



        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            />


        <receiver android:name=".IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

    </application>


    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>

</manifest>